:root {
    --link-transition: all 250ms ease;
    --nav-options-transition: opacity 250ms ease-in-out;

    --general-transition: all 200ms ease;
}

* {
    margin: 0;
    padding: 0;
    border: 0;

    list-style: none;

    /* 
        This removes default styles of inputs
        like checkbox, radio buttons, etc. 
    */
    appearance: none;
    -webkit-appearance: none;

    text-decoration: none;

    box-sizing: border-box;
    color: 	#F0F8FF; /* AliceBlue */
}

body {
    font-family: sanf-serif;
    line-height: 1.5;
    font-size: 1.1rem;
    background-color: #415b8b;
    height: 100vh;
    overflow: auto;
}

a {
    transition: var(--link-transition);
}

h1, h2, h3, h4, h5, h6 {
    line-height: normal;
}

h1 {
    font-size: 2.75rem;
}

input[type="checkbox"] {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.05rem;
    border: 0.2rem solid gainsboro;
    border-radius: 0.25rem;
}

/* ::before is the checkbox's graphics */
input[type="checkbox"]::before {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    /* This crops part of rectangle that we wanna show. This crops a cross shape. */
    /* Use Clippy to generate this path */
    /* Check 'CanIUse' for browser compatibility */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transform: scale(0);
    background-color: yellow;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.file_upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    row-gap: 0.25rem;
}

.file_input {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

.file_upload > .file_input > .file_upload_box {
    background-color: darkslateblue;
    padding: 0.5rem;
    border-radius: 5px;
}

.file_upload > label {
    font-size: 1.5rem;
}

.file_upload > .file_input > button {
    cursor: pointer;
    background-color: transparent;
    display: none;
    height: fit-content;
}

.file_upload > .file_input > button:hover > svg {
    fill: darksalmon;
}

select {
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='red' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: black !important;
    background-color: white;
  }



/* Nav */

.nav {
    display: flex;
    justify-content: center;
}

.nav__container {
    padding: 1.2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.nav__logo {
    font-size: 2rem;
    font-weight: 600;
}

.nav__options {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.nav__options a {
    font-size: 1.2rem;
}

.nav__options a:hover {
    color: gold;
}

.nav__options_credentials {
    display: flex;
    position: relative;
    flex-direction: column;
}

.nav__options_credentials_image {
    position: relative;
    /* use flex display and fit-content height to remove 
       the unnecessary bottom padding of this container.
       For some reason, static display with an image inside
       this container produces unnecessary bottom padding.
    */
    display: flex;
    height: fit-content;
}

.nav__options_credentials_image img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid navy;
}

.nav__options_credentials_options, .nav__options_credentials_options_mobile {
    transition: var(--nav-options-transition);
    opacity: 0;
    position: absolute;
    border-radius: 5%;
    left: -40px;
    top: 48px;
    /*
        width: max-content includes padding as part of the width
        width: fit-content only includes the element's width
    */
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 0.25rem 0;
    
}

/*
    Make sure that, the two containers are 'integrated'. 'Integrated'
    in this context means that the two containers must not have a gap
    in-between. In this content, nav__options_credentials_image is on
    top and nav__options_credentials_options on bottom. They must not 
    have a vertical gap in-between containers. Otherwise, 
    nav__options_credentials_options won't stay visible once the mouse
    pointer hit the gap in-betweeen containers.
*/
.nav__options_credentials_image:hover > .nav__options_credentials_options {
    transition: var(--nav-options-transition);
    opacity: 1;
}

.nav__options_credentials_options_list > li {
    opacity: 0;
    animation: navMobileDropdown 300ms ease forwards;
    box-shadow: black 3px 5px 2px;
    background-color: navy;
}

.nav__options_credentials_options_list > li > a {
    display: flex;
    width: 100%;
    padding: 0 0.75rem;
    font-size: 1.25rem;
}

.nav__options_credentials_options_list > li:hover {
    background-color: rebeccapurple;
}

.nav__options_mobile {
    display: none;
    position: relative;
    flex-direction: column;
}

.nav__options_mobile > .choices {
    display: flex;
}

.nav__options_mobile > .choices > .menu {
    display: flex;
    height: fit-content;
}

.nav__options_mobile > .choices > .close {
    display: none;
    height: fit-content;
}

.logo_for_credential_pages {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.logo_for_credential_pages > a {
    font-size: 2.5rem;
}

/* General */

.featured_blog__container, .blog_list__container, .category_list__container, 
.search_bar__container, .category_list__container_index {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 95%;
}

.category_list__container_index {
    padding: 1rem 0;
}

.category__content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
}

.no_posts {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

.no_posts_high_vh {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    width: 100%;
    height: calc(100vh - 5rem);
    padding: 2rem;
}


/* Search Bar */

.search_bar__form > div {
    display: flex;
    height: fit-content;
    width: fit-content;
    
    column-gap: 0.5rem;
    padding: 0.25rem;
    background-color: azure;
    border-radius: 5px;
}

.search_bar__form > div > input {
    color: black;
    font-size: 1rem;
    background-color: rgba(0,0,0,0);
}

.search_bar__form > div > input::placeholder {
    font-style: italic;
}

.search_bar__form > div > button {
    color: black;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.search_bar__form > div > svg {
    height: 2rem;
}


/* Featured Blog */

.featured_blog {
    display: flex;
    column-gap: 0.75rem;
}

/* Blog */

.blog__image {
    display: flex;
    height: 300px;
    min-height: 300px;
}

.blog__header {
    display: flex;
    row-gap: 0.4rem;
    padding: 0.5rem 0;
    padding-bottom: 0.7rem;
    height: fit-content;
    flex-direction: column;
}

.blog__image img {
    width: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.featured_blog > .blog__image img {
    object-fit: cover;
    border: 5px double cornflowerblue;
}

.blog__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
}

.blog__info_meta {
    display: flex;
    column-gap: 0.5rem;
}

.blog__info_meta > img, .post_data > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid navy;
}

.blog-item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.blog__categories {
    display: flex;
    column-gap: 1rem;
}

.blog__categories_item, .blog__categories_item_no_hover {
    background-color: darkslateblue;
    padding: 0.25rem;
    border-radius: 5%;
    font-size: 1.2rem;
}

.blog__categories_item:hover {
    background-color: hsl(248, 39%, 49%);
}

.blog__categories_item:hover > p {
    color: darkorange;
}

.blog__title {
    display: flex;
    font-size: 1.7rem;
    width: fit-content;
}

.blog__title:hover {
    color: gold;
}

/* Blog list */

.blog_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.blog_list__image {
    height: 300px;
    min-height: 300px;
    border-radius: 5%;
    border: 3px solid cornflowerblue;
    overflow-y: hidden;
}

.blog_list__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Category List */

.category_list__container {
    padding: 3rem 0;
}

.category_list__hr {
    
    background-color: rgba(220, 220, 220, 0.6);
    height: 1px;
    margin-top: 2rem;
}

.category_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.75rem;
    row-gap: 0.75rem;
    padding: 2rem 0;
}

.category_list__link {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5%;
    background-color:cornflowerblue;
    transition: var(--link-transition);
}

.category_list__link:hover {
    transition: var(--link-transition);
    background-color:hsl(236, 79%, 60%);
}

.no_categories {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.no_posts_category_list {
    height: calc(100vh - 18rem);
}


/* Footer */

.footer {
    background-color: darkslateblue;
    box-shadow: inset 0 0.25rem hsla(236, 79%, 50%, 0.2);
    padding: 2rem 0;
}

.footer__icons {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
}

.footer__icons > a:hover > svg {
    transition: var(--link-transition);
    fill:red;
}

.footer__icons > a > svg {
    transition: var(--link-transition);
    width: 32px;
    height: fit-content;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.footer__links_container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 2rem 0;
}

.footer__links_list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.footer__links_list a {
    transition: none;
    width: fit-content;
}

.footer__links_list a:hover{
    transition: none;
    transform: scale(1.05);
}

.footer__copyright {
    display: flex;
    justify-content: center;
}


/* Single Post */

.post_container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 65%;
    margin-bottom: 3rem;
}

.post_header {
    display: flex;
    row-gap: 0.75rem;
    flex-direction: column;
    padding: 1rem 0;
    padding-bottom: 1.5rem;
}

.post_title {
    width: 100%;
    font-size: 4rem;
}

.post_title > p {
    line-height: 100%;
}

.post_blog__image {
    max-height: 500px;
    overflow-y: hidden;
    border-radius: 10px;
    border: 3px solid cornflowerblue;
}

.post_blog__image img {
    height: 100%;
    object-fit: cover;
}

.post_blog__image img, .post_category, .post_data {
    width: 100%;
}

.post_data {
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem 0;
    column-gap: 0.5rem;
}

/* Category List */

.category_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: darkslateblue;
    box-shadow: inset 0 -0.3rem hsla(236, 79%, 50%, 0.2);
    font-size: 3rem;
    padding: 3rem 0;
}

.category_desc {
    font-size: 1.45rem;
}

/* Forms */

.form_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin_body, .signup_body {
    height: 100%;
}

.form_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
}

.form_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 2%;
    padding: 0.5rem;
    margin: 0.5rem;
    row-gap: 1rem;
    
}

.form_container > h2 {
    padding: 0 0.5rem;
}

.form_container > .form_inputs {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    padding: 0.5rem;
}

.form_container > .form_inputs > .create_post_inputs {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0.5rem 0;
}

.form_container > .form_inputs > label {
    font-size: 1.3rem;
}

.form_container > .form_inputs > input,
.form_container > .form_inputs > textarea {
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: black;
}

.form_container > .form_inputs > textarea {
    resize: none;
}

.form_container > .form_inputs > input::placeholder,
.form_container > .form_inputs > textarea::placeholder {
    font-style: italic;
    color: gray;
}

.form_container > .form_inputs > button[type="submit"] {
    color: black;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 5px;
    width: fit-content;
}

.form_container > .form_inputs select,
.form_container > .form_inputs > .create_post_inputs > select {
    color: black;
    font-size: inherit;
    padding: 0.55rem;
    border-radius: 0.2rem;
}

.form_container > .form_inputs select > option,
.form_container > .form_inputs > .create_post_inputs > option {
    color: inherit;
}

.form_container > .form_inputs > .failed_msg {
    display: flex;
    text-align: center;
    font-size: 1.35rem;
    background-color: hsla(357, 74%, 48%, 0.8);
    border-radius: 5px;
    padding: 0.5rem;
    color: rgb(231, 137, 137);
}

.form_container > .form_inputs > .failed_msg > p {
    text-align: center;
    flex: 1;
}

.form_container > .form_inputs > .failed_msg > button {
    background-color: transparent;
}

.form_container > .form_inputs > .failed_msg > button:hover > svg{
    fill: yellowgreen;
}

.have_account, .no_account {
    display: flex;
    column-gap: 0.2rem;
}

.have_account > .sign_in, .no_account > .register {
    font-weight: 600;
    text-decoration: underline;
}

.have_account > .sign_in:hover, .no_account > .register:hover {
    color: yellowgreen;
}

/* Post form */

.post_category {
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 1rem;
    row-gap: 0.25rem;
    padding-right: 1rem;
}

.post_category > p {
    font-size: 1.5rem;
}

.featured {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

.featured > div:hover > #featured_cbox {
    background-color: rgba(219, 219, 219, 0.2);
}

.featured > label {
    font-size: 1.5rem;
}


/* Dashboard */

.dashboard_container {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    row-gap: 1rem;
    padding: 2rem 1rem;
    align-items: center;
    flex-grow: 1;
}

.dashboard_container > .dashboard_wrapper {
    display: flex;
    width: 95%;
    justify-content: center;
}

.dashboard_container > .success_msg {
    display: flex;
    align-items: center;
    font-size: 1.35rem;
    width: 95%;
    background-color: hsla(140, 92%, 24%, 0.8);
    border-radius: 5px;
    padding: 0.5rem;
    color: rgb(231, 137, 137);
}

.dashboard_container > .failed_msg{
    display: flex;
    text-align: center;
    font-size: 1.35rem;
    width: 95%;
    background-color: hsla(357, 74%, 48%, 0.8);
    border-radius: 5px;
    padding: 0.5rem;
    color: rgb(231, 137, 137);
}

.dashboard_container > .success_msg > p,
.dashboard_container > .failed_msg > p,
.form_container > .failed_msg > p {
    text-align: center;
    flex: 1;
}

.dashboard_container > .success_msg > button,
.dashboard_container > .failed_msg > button {
    cursor: pointer;
    background-color: transparent;
}

.dashboard_container > .success_msg > button:hover > svg{
    fill: red;
}

.dashboard_container > .failed_msg > button:hover > svg {
    fill: yellowgreen;
}

.dashboard_side_bar {
    z-index: 10;
    min-height: 400px;
    background-color: rgb(98, 19, 172);
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: var(--general-transition);
}

.dashboard_wrapper > .dashboard_side_bar > a > .icon_link {
    display: flex;
    column-gap: 1rem;
    padding: 1rem;
}

.icon_link > .icon_link_wrapper {
    display: flex;
    height: fit-content;
    align-items: center;
    column-gap: 1rem;
}

.dashboard_wrapper > .dashboard_side_bar > a > .icon_link:not(:last-child) {
    border-bottom: 1px solid gray;
}

.dashboard_wrapper > .dashboard_side_bar > a > .icon_link:hover:not(.selected) {
    background-color: teal;
}

.dashboard_wrapper > .dashboard_side_bar > a > .selected {
    background-color: darkgreen;
}

.dashboard_wrapper > .dashboard_content {
    flex: 1;
    margin: 0 0.5rem;
    padding: 0 0.25rem;
}

.dashboard_wrapper > .dashboard_content > .data_list_content {
    overflow-x: auto;
}

.data_view_small_screen {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    display: none;
}

.data_view_small_screen > .data_container h3 {
    font-size: 1.3rem;
}

.data_view_small_screen > .data_container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem 0;
}

.data_view_small_screen > .data_container:not(:last-child) {
    border-bottom: 2px solid gray;
}

.data_view_small_screen > .data_container > div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.data_view_large_screen {
    margin-top: 1rem;
    width: 100%;
}

.data_view_large_screen th {
    font-size: 1.3rem;
    background-color: darkslateblue;
}

.data_view_large_screen td {
    padding: 0.2rem;
    font-size: 1.25rem;
}

/* n starts at 0 */
.data_view_large_screen tr:nth-child(odd):not(:first-child) {
    background-color: hsla(248, 39%, 65%, 0.4);
}

.data_view_large_screen .dashboard_actions {
    display: flex;
    column-gap: 0.25rem;
}

.dashboard_actions_mobile {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.data_view_large_screen .dashboard_actions > .edit,
.dashboard_actions_mobile > .edit {
    background-color: hsl(0, 0%, 76%);
}

.data_view_large_screen .dashboard_actions > .edit:hover,
.dashboard_actions_mobile > .edit:hover {
    background-color: hsl(0, 0%, 86%);
}

.data_view_large_screen .dashboard_actions > .delete,
.dashboard_actions_mobile > .delete {
    background-color: hsl(6, 93%, 71%);
}

.data_view_large_screen .dashboard_actions > .delete:hover,
.dashboard_actions_mobile > .delete:hover {
    background-color: hsl(6, 93%, 61%);
}

.dashboard_actions_mobile > button {
    /*
        For some reason, this button doesn't automatically inherit
        font-size and font-family.
    */
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    padding: 0.5rem;
    transition: var(--general-transition);
}

.dashboard_actions_mobile > a {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0.5rem;
}

.data_view_large_screen .dashboard_actions > button {
    /*
        For some reason, this button doesn't automatically inherit
        font-size and font-family.
    */
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    padding: 0.5rem;
    transition: var(--general-transition);
}

.data_view_large_screen .dashboard_actions > a {
    display: flex;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    padding: 0.5rem;
}

.data_view_large_screen .dashboard_actions > a > div{
    display: flex;
    width: max-content;
    color: black;
}

.dashboard_actions_mobile > a > div {
    display: flex;
    text-align: center;
    color: black;
}

.dashboard_body_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/*Dialog Box*/

.dashboard_dialog_box_wrapper {
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.dashboard_dialog_box_wrapper > .dashboard_dialog_box {
    position: fixed;
    display: flex;
    z-index: 20;
    flex-direction: column;
    width: 500px;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid rgb(98, 19, 172);
    background-color: darkslateblue;
    row-gap: 0.75rem;
}

.dashboard_dialog_box_wrapper > .dashboard_dialog_box > .info {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;
}

.dashboard_dialog_box > .info > .description {
    font-size: 1.5rem;
    text-align: center;
}

.dashboard_dialog_box > .interface {
    display: flex;
    justify-content: center;
}

.dashboard_dialog_box > .interface > a {
    display: flex;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: hsl(6, 93%, 71%);
}

.dashboard_dialog_box > .interface > a > div{
    display: flex;
    width: max-content;
    color: black;
}

.dashboard_dialog_box > .interface > a:hover {
    background-color: hsl(6, 93%, 61%);
}

.dashboard_dialog_box_wrapper > .dashboard_dialog_box > button {
    position: absolute;
    left: calc(100% - 24px - 0.25rem);
    top: 0.25rem;
    cursor: pointer;
    background-color: transparent;
}

.dashboard_dialog_box_wrapper > .dashboard_dialog_box > button:hover > svg {
    fill: salmon;
}

/* Dashboard's Sidebar */
.dashboard_body_wrapper > .sidebar_toggle_bg,
.dashboard_body_wrapper > .dashboard_dialog_box_wrapper {
    background-color: rgba(128, 128, 128, 0.4);
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
}

.dashboard_body_wrapper > .arrow_left,
.dashboard_body_wrapper > .arrow_right {
    color: black;
    position: fixed;
    display: none;
    left: calc(100% - 64px - 0.5rem);
    bottom: 0.75rem;
    z-index: 10;
    width: 64px;
    height: 64px;
    border-radius: 50%;

    /* display of these elements are flex once they're visible */
    justify-content: center;
    align-items: center;
}

  

/* Animations */

@keyframes navMobileDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Media Queries */

/* Medium Devices */
@media screen and (max-width: 1024px) {

    /* Blog */

    .blog__image img {
        width: 250px;
    }

    .blog_list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.75rem;
        row-gap: 1.75rem;
    }

    /* Navigation */

    .nav__options {
        display: none;
    }

    .nav__options_mobile {
        display: flex;
        align-items: center;
    }

    .nav__options_credentials_options_mobile {
        opacity: 1;
        display: none;
        width: 125px;
        left: -74px;
        top: 32px;
    }

    .nav__options_credentials_options_mobile > .nav__options_credentials_options_list > li {
        padding: 0.75rem 0;
    }

    /* Single Post */

    .post_container {
        width: 90%;
    }

    /* Dashboard */

    .dashboard_side_bar {
        position: fixed;
        top: 0;
        left: -100%; /* This moves sidebar very far left */
    }

    .dashboard_body_wrapper > .arrow_right {
        display: flex;
    }


    /* General */

    h1 {
        font-size: 2.5rem;
    }
}

/* Small Devices */
@media screen and (max-width: 600px) {
    .featured_blog {
        flex-direction: column;
    }

    .featured_blog .blog__image img {
        width: 100%;
    }

    .blog_list {
        grid-template-columns: 1fr;
        column-gap: 1.75rem;
        row-gap: 1.75rem;
    }

    .footer__links {
     grid-template-columns: repeat(2, 1fr);
     justify-items: flex-start;
     row-gap: 1.5rem;
     column-gap: 5rem;
     width: min-content; /* Tightly wraps entire content in this grid*/
    }

    .footer__links_container {
        margin: 0;
    }

    .footer__links_wrapper {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        align-items: center;
    }

    .footer__copyright {
        font-size: 1rem;
    }

    /* Single Post */

    .post_container {
        width: 100%;
        padding: 0 1.25rem;
    }

    /* Category List */

    .category_title {
        font-size: 2.25rem;
    }

    /* Forms */
    .form_container {
        width: 100%;
    }

    /* Dashboard */
    .data_view_small_screen {
        display: flex;
    }

    .data_view_large_screen {
        display: none;
    }

    .dashboard_dialog_box_wrapper > .dashboard_dialog_box {
        width: 90%;
    }

}

/* Tall Devices. If content in body is not enough 
 to fill up the entire screen, we use these queries
 to acquire all space on the screen and then
 center the content on the screen instead of leaving
 free space on the bottom.
 */
@media screen and (min-height: 800px) {
    .signup_body {
        height: 100vh;
    }
}

@media screen and (min-height: 600px) {
    .signin_body {
        height: 100vh;
    }
}